<h4>You're feeling great today! </h4>
<p>You marked these lists as the most difficult at 5/5. See how much you can get done while you're feeling like you can take on the world. </p>

  <% lists.each do |list| %>
  <% unless list.archived? %>
    <% if list.user == current_user %>
      <ul class='collection'>
        <li> <%= link_to list.title, list %> </li>
      </ul>
      <% else %>
        <p>You don't have any lists ranked 5/5 :(</p>
    <% end %>
  <% end %>
<% end %>


<%= link_to "All Lists", lists_path, class: "btn" %>
