<% lists.each do |list| %>
  <ul>
    <li> <%= link_to list.title, list %> </li>
  </ul>
<% end %>

<%= link_to "New", new_list_path, class: "btn btn-primary" %>
<p><%= link_to "Permissions", permissions_path %></p>
