<h4>Feeling like you can't even get out of bed? </h4>
<p>These are the lists you marked as the lowest level of difficulty. Try starting with one of these and see how you feel. </p>
  <% lists.each do |list| %>
  <% unless list.archived? %>
    <% if list.user == current_user %>
      <ul class='collection'>
        <li> <%= link_to list.title, list %> </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<%= link_to "All Your Lists", lists_path, class: "btn btn-primary" %>
