<div class='list-head'>
  <h4>Public Lists</h4>
</div>

<div class='perm-form'>
<ol class='collection'>
  <li class='collection-item'>
    <% lists.each do |list| %>
      <%= link_to list.title, "public/#{list.id}" %>
    <% end %>
  </li>
</ol>
<div>
