<div class='public-index'>
  <div class='list-head'>
    <h4>Public Lists</h4>
  </div>

  <div class='card'>
    <ol class='public-card'>
      <li class='item'>
        <% lists.each do |list| %>
          <%= link_to list.title, "public/#{list.id}" %>
        <% end %>
      </li>
    </ol>
  </div>
</div>
