<div class='group-index'>
  <h4>Congratulations, you're feeling like you can scrape by! </h4>
  <p>These lists are marked with 3/5 or less on the difficulty scale. Any of these lists should match up with your energy today. </p>

  <div class='grouped-lists'>
  <% if lists.where(archived: false).count.zero? %>
    <p>You don't have any lists ranked 3/5 or lower :(</p>
  <% else %>

    <% unless lists.where(difficulty: 3).empty? %>
      <ul class='collection'>
        <p class='list-collection'>3
        <% lists.each do |list| %>
          <% unless list.archived? %>
            <% if list.user == current_user %>
              <% if list.difficulty == 3 %>
              <li class='list-collection'> <%= link_to list.title, list %> </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %></p>
      </ul>
      <% end %>

    <% unless lists.where(difficulty: 2).empty? %>
      <ul class='collection'>
        <p class='list-collection'>2
        <% lists.each do |list| %>
          <% unless list.archived? %>
            <% if list.user == current_user %>
              <% if list.difficulty == 2 %>
              <li class='list-collection'> <%= link_to list.title, list %> </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %></p>
      </ul>
      <% end %>

      <% unless lists.where(difficulty: 1).empty? %>
        <ul class='collection'>
          <p class='list-collection'>1
          <% lists.each do |list| %>
            <% unless list.archived? %>
              <% if list.user == current_user %>
                <% if list.difficulty == 1 %>
                <li class='list-collection'> <%= link_to list.title, list %> </li>
                <% end %>
              <% end %>
            <% end %>
          <% end %></p>
        </ul>
        <% end %>
      <% end %>

    <div class='grouped-btn'>
    <%= link_to "All Lists", lists_path, class: "btn" %>
    </div>
  </div>
</div>
