<h4>Not feeling great, but need something to do? </h4>
<p>These are the lists you marked as having a difficulty level of 2/5. See how far you can get. </p>

<% if lists.where(archived: false).count.zero? %>
  <p>You don't have any lists ranked 2/5 :(</p>
<% end %>

<% lists.each do |list| %>
  <% unless list.archived? %>
    <% if list.user == current_user %>
      <ul class='collection'>
        <li> <%= link_to list.title, list %> </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<%= link_to "All Lists", lists_path, class: "btn" %>
