<div class='about'>
  <div class='about-title'><h4>How to use Listless</h4></div>

    <div class='row'>
      <div class='col s12 m10'>
        <div class='about-body'>
        <p>Listless is an app designed to help you organize the things you need to do
        based on difficulty level. You rank your list's difficulty level on a scale
        from 5 (hardest) to 1 (easiest) and Listless helps choose the lists that match
        how you're feeling that day. You can make these lists public for others to see,
        give certain users access to all your lists or just specific lists, or keep
        everything private.</p>

        <p>When you first visit listlessapp.com, you'll see "How are you feeling today?"
        with five options:<p>
          <ul class='about-list'>
            <li>*  I can take on the world </li>
            <li>*  Positively fine </li>
            <li>*  I can scrape by </li>
            <li>*  Not great, but I have things to do </li>
            <li>*  Can't get out of bed </li>
          </ul>

        <p>These options will take you to a page with all the lists ranked 5, 4, 3, 2, 1
        on the difficulty scale and you can navigate to the list you want to complete
        that day. There is also a link to the public lists on this page - note that
        anyone can see these lists!</p>

        <p>Your Lists Dashboard will show every list you have, all the Lists other users
        have given you access to, and give you a place to start a new list. You can
        also see all the lists you've archived from here, and go to the Permissions
        page to manage who can see your account.</p>

        <p>Each list gives you the option for a due date and a reward - anything that
        will get you the most motivated. You can break down tasks into the smallest
        chunks you can think of to help you figure out where to start. If you need
        help with that, there's a handy link at the bottom of every list's page that
        will take you straight to Google. When in doubt, Google it!</p>
      </div>
    </div>
  </div>
</div>
