<div class='dashboard'>
<background img src="http://i.imgur.com/zoU0RYi.jpg">

<div id='dash-ask'><h2>How are you feeling today?</h2></div>

<ul class='dash-list'>
<li><h4><%= link_to "Good", lists_path %></h4></li>
    <li><h4><%= link_to "Okay", lists_path %></h4></li>
    <li><h4><%= link_to "Bad", lists_path %></h4></li>
  </ul>

<%= link_to "Public Lists", lists_path %>
</div>
