<div class='dashboard'>

  <div class='dash-content'>
    <h2>How are you feeling today?</h2>
    <p>When you're logged in, you can select an option that will take you to lists that match your mood.</p>

    <ul class='dash-list'>
      <li><h4>I can take on the world</h4></li>
      <li><h4>Positively fine</h4></li>
      <li><h4>I can scrape by</h4></li>
      <li><h4>Not great, but I have things to do</h4></li>
      <li><h4>Can't get out of bed</h4></li>
    </ul>

    <div class='dash-foot'>
    <%= link_to "Public Lists", '/lists/public' %>
    <p><%= link_to "Sign In", sign_in_path %></p>
    </div>
  </div>
</div>
