<h4><%= task.title %></h4>
  <%= task.description %>
  <p>
    <%= link_to "Edit", edit_task_path(task, list_id: task.list.id), class: "btn" %>
    <%= link_to "Archive", task, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this task?"} %>
  </p>
<!-- Update this button to archive instead of delete -->
