<div id="clearance" class="sign-up">
  <div class='sign-form'>
    <div class='sign-title'><h4>Sign Up</h4></div>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form.html.erb', object: form %>
      <div class="submit-field">
        <p class='sign-submit'>
          <%= form.submit "Submit", class: 'btn'%>
        </p>
      </div>

    <% end %>
  <div>
</div>
