<div class='list-show'>
  <h4><%= allaccess.assignee.name %></h4>

  <% allaccess.assignee.lists.each do |list| %>
  <ul class='browser-default'>
    <li><%= list.title %></li>
  </ul>
  <% end %>
</div>
