<h4>Search Results</h4>

<% if lists.empty? && users.empty? %>
No results found
<% end %>

<% if lists %>
  <% lists.each do |l| %>
    <p><%= link_to l.title, l %></p>
  <% end %>
<% end %>

<% if users %>
  <% users.each do |u| %>
    <p><%= link_to u.name, u %></p>
  <% end %>
<% end %>
