<h4>Search Results</h4>

<% if lists.empty? && users.empty? %>
  <h5 class='centered'>No lists or users found</h5>
<% else %>
  <h5>Lists</h5>
  <% if lists %>
    <% lists.each do |l| %>
      <p><%= link_to l.title, l %></p>
    <% end %>
  <% end %>

  <h5>Users</h5>
  <% if users %>
    <% users.each do |u| %>
      <p><%= link_to u.name, u %></p>
    <% end %>
  <% end %>
<% end %>
