/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("grey", "lighten-4") !default;
@import "materialize";

.btn {
  background-color: $primary-color;
  border: 1px solid #28666E;
  color: #28666E;
}
.btn:hover {
  background-color: #28666E;
  color: white;
}

body {
  color: #28666E;
}
  .yield-body {
      padding: 20px;
  }

  .isStrikeThrough {
    text-decoration: line-through;
  }

  .react-clear {
    margin-left: .5em;
    cursor: pointer;
  }


.perm-users {
  .red-x {
    a {
     color: red;
    }
  }
}

.card {
  margin-right: 2.5em;
.perm-form {
  padding: 2.5em;
  }
}


a {
  color: #59C3C3;
}



.group-index {
  padding: 2em;
  .grouped-title {
    text-align: center;
  }
  .grouped-lists {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    .list-collection {
      margin-left: 40px;
    }
  }
  .grouped-btn {
    margin-top: 20px;
    text-align: center;
  }
}

.search-index {
  padding: 2em;
  .title {
    text-align: center;
  }
}
