/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("grey", "lighten-4") !default;
@import "materialize";

body {
  color: #28666E;
}
  .yield-body {
      padding: 20px;
  }

.btn {
  background-color: $primary-color;
  border: 1px solid #28666E;
  color: #28666E;
}
.btn:hover {
  background-color: #28666E;
  color: white;
}

.perm-users{
  .red-x {
    a:link {
     color: red;
    }
  }
}

.main-header {
  nav a {
    color: #28666E
  }

  .header-title {
   margin-top: 10px;
  }
  .app-title {
    min-width: 150px;
  }
  .search-box{
    margin: 20px;
    #searchbar {
      max-height: 20px;
      border-radius: 5px;
      padding-left: 2rem;
      min-width: 150px;
    }
    .material-icons {
      margin-left: 15px;
      font-size: 180%;
      position: relative;
      top: -1px;
      color: #28666E;
    }
  }
    .search-icon {
      margin: auto;
      width: 50%;
    }
    .input-field {
      width: 50%;
      display: inline-flex;
    }
  }


  .list-show {
    padding-left: 3em;
  }

  .list-foot {
    text-align: center;
    a {
      color: white;
    }
  }
