body {
  .dashboard {
  background-image: asset_url("background.jpeg");
  background-size: cover;
  background-position: center center;
    margin-top: -26;
    height: 100%;
  }
  .dash-header {
  }
  .dash-content {
    position: relative;
   text-align: center;
   color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .dash-list a {
      color: white;
    }
  }
}
