.dashboard {
  background-image: asset_url("background.jpeg");
  background-size: cover;
  background-position: center center;
  overflow: scroll;
  height: 100%;
}

.dash-content {

  padding-top: 4em;
  position: relative;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  background: rgba(20, 20, 20, 0.3);
  .dash-list a {
    color: white;
  }
  .dash-list {
    padding: 2em;
    text-shadow: 0px 0px 3px rgba(25, 25, 25, 0.2);

    a {
      transition: all 0.2s ease;
      &:hover {
        transition: all 0.2s ease;
        color: lightblue;
      }
    }
  }
}
.dash-foot a {
  color: white;
  &:hover {
    transition: all 0.2s ease;
    color: lightblue;
  }
}
