// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-index {
  padding-top: 2em;
  .your-lists {
    margin-left: 2em;
    .card {
      padding: 1em;

      .empty {
        text-align: center;
        padding: 1em;
      }
      .unempty {
        margin-left: 3em;
        padding: 1em;
      }
    }
  }
  .shared-lists {
    margin-left: 2em;
    .card {
      padding: 1em;
      .empty {
        text-align: center;
        padding: 1em;
      }
      .unempty {
        margin-left: 3em;
        padding: 1em;
        }
      }
    }
  }


p {
  margin: 0;
}

.list-form {
  padding: 2em;
  .title {
    text-align: center;
  };
}

.access-name {
  max-width: 15em;
}

.list-tasks {
  padding-left: 2em;
}

.list-show {
  padding: 2em;
}

.list-head {
  text-align: center;
}

.stats-card {
  margin-top: 14px;

}

.new-list-btn {
  text-align: center;
}
  .list-details {
    padding: 1em;
  }

  .list-foot {
    text-align: center;
  }

  .list-links {
    text-align: center;
  }

  .public-index {
    .card {
      margin-left: 2em;
      .public-card {
        padding: 2em;
        .item {
          margin-left: 3em;
        }
      }
    }
  }

  .public-show {
    padding-left: 2em;
    .card {
      padding: 1.5em;
      margin-top: 14px;
      .item {
        margin-left: 2em;

      }
    }
  }

.archived-index {
  padding-top: 2em;
  .title {
    text-align: center;
  }
  .card {
    padding: 1em;
    margin-left: 2em;
    .empty {
      text-align: center;
      padding: 1em;
      }
    .unempty {
      margin-left: 3em;
      }
    }

  }
