.user-form {
  padding: 2em;

}

.welcome-user {
  text-align: center;
  margin-top: 3em;
  .user-avatar img {
    border-radius: 50%;
  }
}

.card {
  .card-content{
    .about-me {
      margin-top: 1.5em;
    }
  }
}

#clearance {
  .sign-form {
    padding: 2em;
    .sign-title {
      text-align: center;
    }
    .sign-submit {
      text-align: center;
    }
    .other-links {
      text-align: center;
    }
  }
}
