.welcome-user {
  text-align: center;
  margin-top: 3em;
  .user-avatar img {
    border-radius: 50%;
  }
}

.card {
  .user-details {
    line-height: 30px;
    margin-top: 3em;
    padding: 2em;
  }
}

#clearance {
  .sign-form {
    padding-left: 15px;
    padding-right: 15px;
    .sign-title {
      text-align: center;
    }
    .sign-submit {
      text-align: center;
    }
    .other-links {
      text-align: center;
    }
  }
}
