.welcome-user {
  text-align: center;
  margin-top: 3em;
  .user-avatar img {
    border-radius: 50%;
  }
}

.card {
  .card-content{
    .about-me {
      margin-top: 1.5em;
    }
  }
}

#clearance {
  .sign-form {
    padding-left: 15px;
    padding-right: 15px;
    .sign-title {
      text-align: center;
    }
    .sign-submit {
      text-align: center;
    }
    .other-links {
      text-align: center;
    }
  }
}
